@tailwind base;
@tailwind components;
@tailwind utilities;

code{
  color: purple;
}

.linkedin-icon{
  background-image: url('https://www.iconpacks.net/icons/1/free-linkedin-icon-112-thumb.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.github-icon{
  background-image: url('https://w7.pngwing.com/pngs/914/758/png-transparent-github-social-media-computer-icons-logo-android-github-logo-computer-wallpaper-banner-thumbnail.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.instagram-icon{
  background-image: url('https://cdn-icons-png.flaticon.com/512/1384/1384015.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mail-icon{
  background-image: url('https://cdn-icons-png.flaticon.com/512/666/666162.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.html5{
  background-image: url('https://cdn-icons-png.flaticon.com/512/152/152843.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.css{
  background-image: url('https://cdn-icons-png.flaticon.com/512/82/82127.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.javascript{
  background-image: url('https://banner2.cleanpng.com/20180608/rwc/kisspng-javascript-computer-icons-web-browser-font-awesome-java-script-5b1a0a7d8b4ff2.2841255915284332775706.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.angular{
  background-image: url('https://icons.iconarchive.com/icons/fa-team/fontawesome-brands/512/FontAwesome-Brands-Angular-icon.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.react{
  background-image: url('https://static-00.iconduck.com/assets.00/react-icon-512x456-5xl7nmtw.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.typescript{
  background-image: url('https://cdn-icons-png.flaticon.com/256/6422/6422234.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.python{
  background-image: url('https://cdn4.iconfinder.com/data/icons/scripting-and-programming-languages/512/Python_logo-512.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.machinelearning{
  background-image: url('https://static-00.iconduck.com/assets.00/tensorflow-icon-1826x2048-9teo3qm5.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.computationalvision{
  background-image: url('https://static-00.iconduck.com/assets.00/scikit-learn-icon-512x277-sb6q1c5d.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.database{
  background-image: url('https://cdn-icons-png.flaticon.com/512/149/149206.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nodejs{
  background-image: url('https://www.svgrepo.com/show/369459/nodejs.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}